<a href="https://colab.research.google.com/github/worldterminator/worldterminator/blob/main/becomingmaster.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
vera = pd.read_csv("/content/incarceration_trends_county.csv", dtype=str)

print("Shape:", vera.shape)
print("Columns:", vera.columns.tolist()[:30])
print("\nSample rows:")
display(vera.head(10))

# check years
print("\nUnique years in dataset:")
print(vera['year'].unique()[:20])

# count number of counties per year
coverage = vera.groupby('year')["fips"].nunique()
print("\nCounty coverage by year:")
print(coverage.sort_index())

Shape: (245840, 146)
Columns: ['year', 'quarter', 'state_abbr', 'state_code', 'state_fips', 'county_name', 'county_code', 'fips', 'urbanicity', 'region', 'division', 'metro_area_2000', 'commuting_zone_2000', 'land_area_2000', 'total_pop', 'total_pop_15to64', 'female_pop_15to64', 'male_pop_15to64', 'aapi_pop_15to64', 'black_pop_15to64', 'latinx_pop_15to64', 'native_pop_15to64', 'white_pop_15to64', 'aapi_female_pop_15to64', 'black_female_pop_15to64', 'latinx_female_pop_15to64', 'native_female_pop_15to64', 'white_female_pop_15to64', 'aapi_male_pop_15to64', 'black_male_pop_15to64']

Sample rows:

,year,quarter,state_abbr,state_code,state_fips,county_name,county_code,fips,urbanicity,region,...,aapi_female_prison_adm_rate,black_female_prison_adm_rate,latinx_female_prison_adm_rate,native_female_prison_adm_rate,white_female_prison_adm_rate,aapi_male_prison_adm_rate,black_male_prison_adm_rate,latinx_male_prison_adm_rate,native_male_prison_adm_rate,white_male_prison_adm_rate
0,2024,1,AL,US_AL,AL,Autauga County,US_AL_AUTAUGA,01001,small/mid,South,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023,4,AL,US_AL,AL,Autauga County,US_AL_AUTAUGA,01001,small/mid,South,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023,3,AL,US_AL,AL,Autauga County,US_AL_AUTAUGA,01001,small/mid,South,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023,2,AL,US_AL,AL,Autauga County,US_AL_AUTAUGA,01001,small/mid,South,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023,1,AL,US_AL,AL,Autauga County,US_AL_AUTAUGA,01001,small/mid,South,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2022,4,AL,US_AL,AL,Autauga County,US_AL_AUTAUGA,01001,small/mid,South,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2022,3,AL,US_AL,AL,Autauga County,US_AL_AUTAUGA,01001,small/mid,South,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2022,2,AL,US_AL,AL,Autauga County,US_AL_AUTAUGA,01001,small/mid,South,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2022,1,AL,US_AL,AL,Autauga County,US_AL_AUTAUGA,01001,small/mid,South,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2021,4,AL,US_AL,AL,Autauga County,US_AL_AUTAUGA,01001,small/mid,South,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Unique years in dataset:
['2024' '2023' '2022' '2021' '2020' '2019' '2018' '2017' '2016' '2015'
 '2014' '2013' '2012' '2011' '2010' '2009' '2008' '2007' '2006' '2005']

County coverage by year:
year
1970    3142
1971    3142
1972    3142
1973    3142
1974    3142
1975    3142
1976    3142
1977    3142
1978    3142
1979    3142
1980    3142
1981    3142
1982    3142
1983    3142
1984    3142
1985    3142
1986    3142
1987    3142
1988    3142
1989    3142
1990    3142
1991    3142
1992    3142
1993    3142
1994    3142
1995    3142
1996    3142
1997    3142
1998    3142
1999    3142
2000    3142
2001    3142
2002    3142
2003    3142
2004    3142
2005    3142
2006    3142
2007    3142
2008    3142
2009    3142
2010    3142
2011    3142
2012    3142
2013    3142
2014    3142
2015    3142
2016    3142
2017    3142
2018    3142
2019    3142
2020    3142
2021    3142
2022    3142
2023    3142
2024    1488
Name: fips, dtype: int64

In [7]:
vera[["total_jail_pretrial", "total_jail_pretrial_rate"]].isna().mean()

total_jail_pretrial         0.479906
total_jail_pretrial_rate    0.480406
dtype: float64

In [8]:
import pandas as pd
import numpy as np

YEAR = "2022"
QUARTER = "2"
vera_2022_q2 = vera[(vera["year"] == YEAR) & (vera["quarter"] == QUARTER)].copy()

# id string
id_cols = [
    "year", "quarter", "state_abbr", "state_code", "state_fips",
    "county_name", "county_code", "fips", "urbanicity", "region",
    "division", "metro_area_2000", "commuting_zone_2000"
]
# standardize FIPS
if "fips" in vera_2022_q2.columns:
    vera_2022_q2["fips"] = vera_2022_q2["fips"].astype(str).str.zfill(5)

num_cols = [c for c in vera_2022_q2.columns if c not in id_cols]
vera_2022_q2[num_cols] = vera_2022_q2[num_cols].apply(pd.to_numeric, errors="coerce")

In [9]:
# check coverage of pretrial count vs rate by quarter
v22 = vera[vera["year"] == "2022"].copy()
v22.groupby("quarter")[["total_jail_pretrial", "total_jail_pretrial_rate"]].apply(lambda df: 1 - df.isna().mean())

         total_jail_pretrial  total_jail_pretrial_rate
quarter
1                   0.446006                  0.446006
2                   0.338956                  0.338956
3                   0.423177                  0.423177
4                   0.422488                  0.422488

In [10]:
# rows by quarter
v22 = vera[vera["year"] == "2022"].copy()
countmissing= (v22
       .groupby("quarter")
       .agg(
           rows=("fips","count"),
           nonmissing_pretrial=("total_jail_pretrial", lambda s: int(s.notna().sum())),
           nonmissing_pretrial_rate=("total_jail_pretrial_rate", lambda s: int(s.notna().sum())),
       )
       .sort_index())
print(countmissing)

         rows  nonmissing_pretrial  nonmissing_pretrial_rate
quarter
1        1565                  698                       698
2        3142                 1065                      1065
3        1536                  650                       650
4        1503                  635                       635

In [18]:
# make new variables!
# total_pop as denominator as requested

den_col = "total_pop" if "total_pop" in vera_2022_q2.columns else None

def safe_div(n, d):
    n = pd.to_numeric(n, errors="coerce")
    d = pd.to_numeric(d, errors="coerce")
    return np.where((d.notna()) & (d != 0), n / d, np.nan)


vera_2022_q2["pretrial_rate_100k"] = (
    safe_div(vera_2022_q2["total_jail_pretrial"], vera_2022_q2[den_col]) * 1e5
    if den_col else np.nan
)
# keep everything (all jail/prison/admissions/race fields) for merge later
vera_keep = vera_2022_q2.copy()

In [20]:
pd.set_option("display.float_format", "{:.2f}".format)

print(vera_keep["pretrial_rate_100k"].describe())


bad = vera_keep[
    (vera_keep["pretrial_rate_100k"] < 0) |
    (vera_keep["pretrial_rate_100k"] > 5000) |
    (vera_keep["pretrial_rate_100k"].isna())
]
print("Problematic rows:", len(bad))


coverage = vera_keep["pretrial_rate_100k"].notna().mean()
print(f"Coverage: {coverage:.1%}")

# spot check
print(vera_keep[["total_jail_pretrial", "total_pop", "pretrial_rate_100k"]].sample(10))

count      1061.00
mean       3681.63
std       42182.56
min           0.28
25%         127.55
50%         223.86
75%         491.08
max     1251219.51
Name: pretrial_rate_100k, dtype: float64
Problematic rows: 2126
Coverage: 33.8%
        total_jail_pretrial  total_pop  pretrial_rate_100k
57949                   NaN  182534.00                 NaN
198951                  NaN   37329.00                 NaN
106016                  NaN   57615.00                 NaN
110479               163.00  110394.00              147.65
49761                 32.00  206542.00               15.49
48715                   NaN   26956.00                 NaN
66631                   NaN    8764.00                 NaN
46824                   NaN    6722.00                 NaN
1925                    NaN   16118.00                 NaN
154731                  NaN   27886.00                 NaN

In [21]:
vera_keep.loc[vera_keep["pretrial_rate_100k"] > 5000,
              ["fips", "total_jail_pretrial", "total_pop", "pretrial_rate_100k"]]

         fips  total_jail_pretrial  total_pop  pretrial_rate_100k
4538    02013              2305.00    3398.00            67834.02
4592    02016              2305.00    5122.00            45001.95
4700    02050              2305.00   18257.00            12625.29
4754    02060              2305.00     865.00           266473.99
4808    02068              2305.00    1585.00           145425.87
4862    02070              2305.00    4723.00            48803.73
4970    02100              2305.00    2056.00           112110.89
5024    02105              2305.00    2287.00           100787.06
5078    02110              2305.00   31685.00             7274.74
5186    02130              2305.00   13741.00            16774.62
5240    02150              2305.00   12720.00            18121.07
5294    02158              2305.00    8278.00            27844.89
5348    02164              2305.00    1381.00           166908.04
5456    02180              2305.00    9835.00            23436.71
5510    02185              2305.00   10805.00            21332.72
5564    02188              2305.00    7423.00            31052.14
5618    02195              2305.00    3360.00            68601.19
5672    02198              2305.00    5650.00            40796.46
5726    02220              2305.00    8382.00            27499.40
5780    02230              2305.00    1081.00           213228.49
5834    02240              2305.00    7021.00            32830.08
5888    02261              2305.00    9463.00            24358.03
5942    02275              2305.00    2070.00           111352.66
5996    02282              2305.00     700.00           329285.71
6050    02290              2305.00    5179.00            44506.66
46482   15005              1026.00      82.00          1251219.51
81534   21189               248.00    3929.00             6312.04
81989   21201               217.00    2229.00             9735.31
84686   22035               524.00    6990.00             7496.42
146923  38087                39.00     672.00             5803.57
221512  50009               507.00    5994.00             8458.46
221620  50013               507.00    7489.00             6769.93
222838  51021               418.00    6148.00             6798.96
223438  51036               767.00    6605.00            11612.41
223984  51051               815.00   13725.00             5938.07
225466  51091               313.00    2301.00            13602.78
228694  51181               767.00    6527.00            11751.19
230201  51620               479.00    8247.00             5808.17
230357  51640               418.00    6730.00             6211.00
231215  51720               815.00    3609.00            22582.43
235394  54017               609.00    7698.00             7911.15
237336  54073               609.00    7586.00             8027.95
237747  54085               609.00    8207.00             7420.49
238091  54095               609.00    8183.00             7442.26
238431  54105               609.00    5091.00            11962.29

In [25]:
vera_2022_q2.loc[vera_2022_q2["fips"] == "15005",
              ["fips", "total_jail_pretrial", "total_pop"]]
              #?

        fips  total_jail_pretrial  total_pop
46482  15005              1026.00      82.00

In [26]:
vera.loc[vera["fips"] == "15005",
              ["fips", "total_jail_pretrial", "total_pop"]]

        fips total_jail_pretrial total_pop
46481  15005                 NaN        82
46482  15005                1026        82
46483  15005                 960        81
46484  15005                 797        80
46485  15005                1216        79
46486  15005                 999        84
46487  15005                1086        87
46488  15005                1031        88
46489  15005                1068        86
46490  15005                1116        83
46491  15005                1040        84
46492  15005                 924        87
46493  15005                 950        92
46494  15005                 991        90
46495  15005                 827        93
46496  15005                 778        99
46497  15005                 925       105
46498  15005                1055       109
46499  15005                1074       114
46500  15005                 939       117
46501  15005                 898       127
46502  15005                 900       133
46503  15005                1031       138
46504  15005                 814       145
46505  15005                 959       NaN
46506  15005                1043       NaN
46507  15005                1330       NaN
46508  15005                 938       NaN
46509  15005                 902       NaN
46510  15005                 838       NaN
46511  15005                 696       NaN
46512  15005                 630       NaN
46513  15005                 815       NaN
46514  15005                 683       NaN
46515  15005                 602       NaN
46516  15005                 573       NaN
46517  15005                 477       NaN
46518  15005                 406       NaN
46519  15005                 420       NaN
46520  15005                 389       NaN
46521  15005                 416       NaN
46522  15005                 406       NaN
46523  15005                 364       NaN
46524  15005                 238       NaN
46525  15005                 221       NaN
46526  15005                 175       NaN
46527  15005                 NaN       NaN
46528  15005                 NaN       NaN
46529  15005                 NaN       NaN
46530  15005                 NaN       NaN
46531  15005                 NaN       NaN
46532  15005                 NaN       NaN
46533  15005                 NaN       NaN
46534  15005                   1       NaN

In [27]:
print(f"Shape: {vera_keep.shape}\nColumns: {list(vera_keep.columns)}")

Shape: (3142, 148)
Columns: ['year', 'quarter', 'state_abbr', 'state_code', 'state_fips', 'county_name', 'county_code', 'fips', 'urbanicity', 'region', 'division', 'metro_area_2000', 'commuting_zone_2000', 'land_area_2000', 'total_pop', 'total_pop_15to64', 'female_pop_15to64', 'male_pop_15to64', 'aapi_pop_15to64', 'black_pop_15to64', 'latinx_pop_15to64', 'native_pop_15to64', 'white_pop_15to64', 'aapi_female_pop_15to64', 'black_female_pop_15to64', 'latinx_female_pop_15to64', 'native_female_pop_15to64', 'white_female_pop_15to64', 'aapi_male_pop_15to64', 'black_male_pop_15to64', 'latinx_male_pop_15to64', 'native_male_pop_15to64', 'white_male_pop_15to64', 'total_incarceration', 'total_incarceration_rate', 'private_jail_flag', 'regional_jail_flag', 'jail_rated_capacity', 'total_jail_pop', 'female_jail_pop', 'male_jail_pop', 'aapi_jail_pop', 'black_jail_pop', 'latinx_jail_pop', 'native_jail_pop', 'white_jail_pop', 'other_race_jail_pop', 'total_jail_pretrial', 'total_jail_from_prison', 'total_jail_from_other_jail', 'total_jail_from_fed', 'total_jail_from_bia', 'total_jail_from_bop', 'total_jail_from_ice', 'total_jail_from_marshals', 'total_jail_from_other_fed', 'total_jail_adm', 'female_jail_adm', 'male_jail_adm', 'total_jail_dis', 'total_jail_sentenced', 'total_jail_pop_rate', 'female_jail_pop_rate', 'male_jail_pop_rate', 'aapi_jail_pop_rate', 'black_jail_pop_rate', 'latinx_jail_pop_rate', 'native_jail_pop_rate', 'white_jail_pop_rate', 'total_jail_adm_rate', 'female_jail_adm_rate', 'male_jail_adm_rate', 'total_jail_dis_rate', 'total_jail_pretrial_rate', 'total_prison_pop', 'female_prison_pop', 'male_prison_pop', 'aapi_prison_pop', 'black_prison_pop', 'latinx_prison_pop', 'native_prison_pop', 'white_prison_pop', 'aapi_female_prison_pop', 'black_female_prison_pop', 'latinx_female_prison_pop', 'native_female_prison_pop', 'white_female_prison_pop', 'aapi_male_prison_pop', 'black_male_prison_pop', 'latinx_male_prison_pop', 'native_male_prison_pop', 'white_male_prison_pop', 'total_prison_adm', 'female_prison_adm', 'male_prison_adm', 'aapi_prison_adm', 'black_prison_adm', 'latinx_prison_adm', 'native_prison_adm', 'white_prison_adm', 'aapi_female_prison_adm', 'black_female_prison_adm', 'latinx_female_prison_adm', 'native_female_prison_adm', 'white_female_prison_adm', 'aapi_male_prison_adm', 'black_male_prison_adm', 'latinx_male_prison_adm', 'native_male_prison_adm', 'white_male_prison_adm', 'total_prison_pop_rate', 'female_prison_pop_rate', 'male_prison_pop_rate', 'aapi_prison_pop_rate', 'black_prison_pop_rate', 'latinx_prison_pop_rate', 'native_prison_pop_rate', 'white_prison_pop_rate', 'aapi_female_prison_pop_rate', 'black_female_prison_pop_rate', 'latinx_female_prison_pop_rate', 'native_female_prison_pop_rate', 'white_female_prison_pop_rate', 'aapi_male_prison_pop_rate', 'black_male_prison_pop_rate', 'latinx_male_prison_pop_rate', 'native_male_prison_pop_rate', 'white_male_prison_pop_rate', 'total_prison_adm_rate', 'female_prison_adm_rate', 'male_prison_adm_rate', 'aapi_prison_adm_rate', 'black_prison_adm_rate', 'latinx_prison_adm_rate', 'native_prison_adm_rate', 'white_prison_adm_rate', 'aapi_female_prison_adm_rate', 'black_female_prison_adm_rate', 'latinx_female_prison_adm_rate', 'native_female_prison_adm_rate', 'white_female_prison_adm_rate', 'aapi_male_prison_adm_rate', 'black_male_prison_adm_rate', 'latinx_male_prison_adm_rate', 'native_male_prison_adm_rate', 'white_male_prison_adm_rate', 'pretrial_rate_100k', 'pretrial_share']

In [28]:
import numpy as np
for c in ["total_jail_pretrial", "total_pop", "pretrial_rate_100k"]:
    if c in vera_keep.columns:
        vera_keep[c] = pd.to_numeric(vera_keep[c], errors="coerce")

# try applying some exclusion rules to drop extra small counties. change the numbers whenenver needed

# vera institute notes when citing a 2013 table [Bureau of Justice Statistics, Census of Jails (2013).]
# https://www.vera.org/publications/out-of-sight-growth-of-jails-rural-america#:~:text=Notes:%20These%20tables%20provide%20rankings,Because%20of%20reporting%20error%2C%20St.
# (roll down to the bottom 'Show Notes')
# "The 560 excluded counties are the 54 counties in the six states (Alaska, Connecticut, Delaware, Hawaii, Rhode Island, and Vermont) that do not have local jails because the state prison system also provides pretrial detention; the 145, mostly rural, counties that did not supply the necessary data to BJS; the 357, mostly rural, counties that either have pretrial incarceration rates in excess of 1,000 per 100,000 or more than 90 percent of the jail population held for other authorities. This latter group is excluded because these places are generally very small counties (e.g., fewer than 10,000 residents) in which the jail effectively serves as a regional jail or contract jail for the state and federal government. Because the preponderance of detainees are from out of the county, the county pretrial incarceration rate cannot be reliably estimated. There are a total of 25,025 pretrial detainees in these excluded counties, or an average of 70 per county. Because of reporting error, St. Louis County, MO, Allegheny County, PA, Davidson County, TN, Cameron County, TX, and El Paso County, TX use 2012 data from the Survey of Jails instead of 2013.
# The number of pretrial detainees, and the number of individuals held for other local, state, and federal authorities, is the single day count on December 31, 2013.

POP_FLOOR = 1000
RATE_CAP  = 5000      # flag absurd rates (optional safety)

crit_pop_floor   = vera_keep["total_pop"] < POP_FLOOR
crit_missing_den = vera_keep["total_pop"].isna() | (vera_keep["total_pop"] == 0)
crit_logic       = vera_keep["total_jail_pretrial"] > vera_keep["total_pop"]
crit_rate_cap    = vera_keep["pretrial_rate_100k"] > RATE_CAP

bad_mask = crit_pop_floor | crit_missing_den | crit_logic | crit_rate_cap


# all rows to be excluded (preview a few)
excluded = vera_keep.loc[bad_mask].copy()
print("Excluded rows preview:\n", excluded.head(10))

# breakdown
def _count(mask): return int(mask.fillna(False).sum())

print()
print(f"  total_pop < {POP_FLOOR}: {_count(crit_pop_floor)}")
print(f"  total_pop missing/zero : {_count(crit_missing_den)}")
print(f"  pretrial > total_pop   : {_count(crit_logic)}")
print(f"  rate > {RATE_CAP}/100k : {_count(crit_rate_cap)}")
print(f"  UNIQUE rows excluded   : {_count(bad_mask)}")

# a cleaned copy
vera_clean = vera_keep.loc[~bad_mask].copy()

Excluded rows preview:
       year quarter state_abbr state_code state_fips  \
4538  2022       2         AK      US_AK         AK
4592  2022       2         AK      US_AK         AK
4700  2022       2         AK      US_AK         AK
4754  2022       2         AK      US_AK         AK
4808  2022       2         AK      US_AK         AK
4862  2022       2         AK      US_AK         AK
4970  2022       2         AK      US_AK         AK
5024  2022       2         AK      US_AK         AK
5078  2022       2         AK      US_AK         AK
5186  2022       2         AK      US_AK         AK

                     county_name                  county_code   fips  \
4538      Aleutians East Borough         US_AK_ALEUTIANS_EAST  02013
4592  Aleutians West Census Area  US_AK_ALEUTIANS_WEST_CENSUS  02016
4700          Bethel Census Area          US_AK_BETHEL_CENSUS  02050
4754         Bristol Bay Borough            US_AK_BRISTOL_BAY  02060
4808              Denali Borough                 US_AK_DENALI  02068
4862      Dillingham Census Area      US_AK_DILLINGHAM_CENSUS  02070
4970              Haines Borough                 US_AK_HAINES  02100
5024   Hoonah-Angoon Census Area   US_AK_HOONAH-ANGOON_CENSUS  02105
5078     Juneau City and Borough             US_AK_JUNEAU_AND  02110
5186   Ketchikan Gateway Borough      US_AK_KETCHIKAN_GATEWAY  02130

     urbanicity region  ... latinx_female_prison_adm_rate  \
4538      rural   West  ...                           NaN
4592      rural   West  ...                           NaN
4700      rural   West  ...                           NaN
4754      rural   West  ...                           NaN
4808      rural   West  ...                           NaN
4862      rural   West  ...                           NaN
4970      rural   West  ...                           NaN
5024      rural   West  ...                           NaN
5078      rural   West  ...                           NaN
5186      rural   West  ...                           NaN

     native_female_prison_adm_rate white_female_prison_adm_rate  \
4538                           NaN                          NaN
4592                           NaN                          NaN
4700                           NaN                          NaN
4754                           NaN                          NaN
4808                           NaN                          NaN
4862                           NaN                          NaN
4970                           NaN                          NaN
5024                           NaN                          NaN
5078                           NaN                          NaN
5186                           NaN                          NaN

      aapi_male_prison_adm_rate  black_male_prison_adm_rate  \
4538                        NaN                         NaN
4592                        NaN                         NaN
4700                        NaN                         NaN
4754                        NaN                         NaN
4808                        NaN                         NaN
4862                        NaN                         NaN
4970                        NaN                         NaN
5024                        NaN                         NaN
5078                        NaN                         NaN
5186                        NaN                         NaN

      latinx_male_prison_adm_rate  native_male_prison_adm_rate  \
4538                          NaN                          NaN
4592                          NaN                          NaN
4700                          NaN                          NaN
4754                          NaN                          NaN
4808                          NaN                          NaN
4862                          NaN                          NaN
4970                          NaN                          NaN
5024                          NaN                          NaN
5078                          NaN                          NaN
5186                          NaN                          NaN

      white_male_prison_adm_rate  pretrial_rate_100k  pretrial_share
4538                         NaN            67834.02            0.79
4592                         NaN            45001.95            0.79
4700                         NaN            12625.29            0.79
4754                         NaN           266473.99            0.79
4808                         NaN           145425.87            0.79
4862                         NaN            48803.73            0.79
4970                         NaN           112110.89            0.79
5024                         NaN           100787.06            0.79
5078                         NaN             7274.74            0.79
5186                         NaN            16774.62            0.79

[10 rows x 148 columns]

  total_pop < 1000: 35
  total_pop missing/zero : 4
  pretrial > total_pop   : 9
  rate > 5000/100k : 45
  UNIQUE rows excluded   : 80

In [15]:
print("Rows, Cols:", vera_keep.shape)
display(vera_keep[["fips","county_name","state_abbr","total_jail_pop","total_jail_pretrial",
                   den,"pretrial_rate_100k","pretrial_share"]].head())

Rows, Cols: (3142, 148)

NameError: name 'den' is not defined

In [ ]:
#vera_keep["pretrial_rate_100k_zerofill"] = vera_keep["pretrial_rate_100k"].fillna(0)
#vera_keep["pretrial_share_zerofill"]     = vera_keep["pretrial_share"].fillna(0)

# (alternative optional) zero-fill all numeric columns (leave object/id columns alone)
# import numpy as np
# num_cols = vera_keep.select_dtypes(include=[np.number]).columns
# vera_keep[num_cols] = vera_keep[num_cols].fillna(0)

# export
vera_keep.to_csv("vera_2022_q2_snapshot_with_newvars.csv", index=False)

#slavery

In [ ]:
import pandas as pd
enslaved = pd.read_csv("/content/nhgis0002_ds13_1860_county.csv")
totalpop = pd.read_csv("/content/nhgis0002_ds14_1860_county.csv")

enslaved = enslaved.iloc[1:].copy()
totalpop = totalpop.iloc[1:].copy()

# to numeric
enslaved["AGU001"] = pd.to_numeric(enslaved["AGU001"], errors="coerce")
totalpop["AG3001"] = pd.to_numeric (totalpop ["AG3001"], errors="coerce")

In [ ]:
# quick inspection
print("Enslaved 1860:")
print(enslaved.head(), "\n")
print(enslaved.info(), "\n")

print("Total Pop 1860:")
print(totalpop.head(), "\n")
print(totalpop.info(), "\n")

Enslaved 1860:
    GISJOIN  YEAR    STATE STATEA   COUNTY COUNTYA AREANAME STATEICP  \
1  G0100010  1860  Alabama    010  Autauga    0010  Autauga       41
2  G0100030  1860  Alabama    010  Baldwin    0030  Baldwin       41
3  G0100050  1860  Alabama    010  Barbour    0050  Barbour       41
4  G0100070  1860  Alabama    010     Bibb    0070     Bibb       41
5  G0100090  1860  Alabama    010   Blount    0090   Blount       41

  COUNTYICP   AGU001
1        10   9607.0
2        30   3714.0
3        50  16150.0
4        70   3842.0
5        90    666.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2098 entries, 1 to 2098
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   GISJOIN    2098 non-null   object
 1   YEAR       2098 non-null   object
 2   STATE      2098 non-null   object
 3   STATEA     2098 non-null   object
 4   COUNTY     2098 non-null   object
 5   COUNTYA    2098 non-null   object
 6   AREANAME   2098 non-null   object
 7   STATEICP   2098 non-null   object
 8   COUNTYICP  2098 non-null   object
 9   AGU001     1130 non-null   float64
dtypes: float64(1), object(9)
memory usage: 164.0+ KB
None

Total Pop 1860:
    GISJOIN  YEAR    STATE STATEA   COUNTY COUNTYA AREANAME STATEICP  \
1  G0100010  1860  Alabama    010  Autauga    0010  Autauga       41
2  G0100030  1860  Alabama    010  Baldwin    0030  Baldwin       41
3  G0100050  1860  Alabama    010  Barbour    0050  Barbour       41
4  G0100070  1860  Alabama    010     Bibb    0070     Bibb       41
5  G0100090  1860  Alabama    010   Blount    0090   Blount       41

  COUNTYICP   AG3001
1        10  16739.0
2        30   7530.0
3        50  30812.0
4        70  11894.0
5        90  10865.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2102 entries, 1 to 2102
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   GISJOIN    2102 non-null   object
 1   YEAR       2102 non-null   object
 2   STATE      2102 non-null   object
 3   STATEA     2102 non-null   object
 4   COUNTY     2102 non-null   object
 5   COUNTYA    2102 non-null   object
 6   AREANAME   2102 non-null   object
 7   STATEICP   2102 non-null   object
 8   COUNTYICP  2102 non-null   object
 9   AG3001     2077 non-null   float64
dtypes: float64(1), object(9)
memory usage: 164.3+ KB
None

In [ ]:
enslaved = enslaved.rename(columns={"AGU001": "enslaved_1860"})
totalpop = totalpop.rename(columns={"AG3001": "total_pop_1860"})

In [ ]:
merged = (
    enslaved[["GISJOIN","STATE","COUNTY","STATEA","COUNTYA","enslaved_1860"]]
      .merge(totalpop[["GISJOIN","total_pop_1860"]], on="GISJOIN", how="outer")
)

In [ ]:
import numpy as np
merged["slave_share_1860"] = merged["enslaved_1860"] / merged["total_pop_1860"]
merged.loc[(merged["total_pop_1860"].fillna(0) == 0), "slave_share_1860"] = np.nan

In [ ]:
# derive 5-digit FIPS from STATEA+COUNTYA
# e.g. STATEA='010' -> '01'; COUNTYA='0010' -> '001'  => fips='01001'
merged["fips"] = merged["STATEA"].str[:2].fillna("") + merged["COUNTYA"].str[:3].fillna("")
merged["fips"] = merged["fips"].where(merged["fips"].str.len() == 5, np.nan)

In [ ]:
for col in ["STATE","COUNTY"]:
    if col in merged.columns:
        merged[col] = merged[col].str.upper().str.strip()

In [ ]:
print("Row counts â†’ enslaved:", len(enslaved), " total:", len(totalpop), " merged:", len(merged))
print("\nMissing after merge:\n", merged[["enslaved_1860","total_pop_1860","slave_share_1860","fips"]].isna().sum())

Row counts â†’ enslaved: 2098  total: 2102  merged: 2105

Missing after merge:
 enslaved_1860       975
total_pop_1860       28
slave_share_1860    976
fips                  7
dtype: int64

In [ ]:
# what didnâ€™t match
only_ensl = enslaved[~enslaved["GISJOIN"].isin(totalpop["GISJOIN"])][["GISJOIN","STATE","COUNTY"]]
only_tot  = totalpop[~totalpop["GISJOIN"].isin(enslaved["GISJOIN"])][["GISJOIN"]]
print("\nOnly in enslaved:", len(only_ensl))
print("Only in totalpop:", len(only_tot))

Only in enslaved: 3
Only in totalpop: 7

In [ ]:
print("\nRows only in enslaved:")
print(only_ensl)

print("\nRows only in totalpop:")
print(only_tot)

Rows only in enslaved:
       GISJOIN                 STATE                COUNTY
163   G1100010  District Of Columbia  District Of Columbia
1195  G3150435    Nebraska Territory               Madison
1201  G3150575    Nebraska Territory                Platte

Rows only in totalpop:
       GISJOIN
187   G1200875
628   G2050055
862   G2405100
1202  G3150585
1208  G3150695
1710  G4800590
1859  G4950655

In [ ]:
# random spot chekcks
print(merged.sample(5, random_state=42)[["fips","STATE","COUNTY","enslaved_1860","total_pop_1860","slave_share_1860"]])

# highest and lowest slave shares
print(merged.sort_values("slave_share_1860", ascending=False)
             [["fips","STATE","COUNTY","enslaved_1860","total_pop_1860","slave_share_1860"]]
             .head(5))

       fips           STATE     COUNTY  enslaved_1860  total_pop_1860  \
1432  39065            OHIO     HARDIN            NaN         13570.0
342   17019        ILLINOIS  CHAMPAIGN            NaN         14629.0
984   27115       MINNESOTA       PINE            NaN            92.0
2007  51179        VIRGINIA   STAFFORD         3314.0          8555.0
1342  37065  NORTH CAROLINA  EDGECOMBE        10108.0         17376.0

      slave_share_1860
1432               NaN
342                NaN
984                NaN
2007          0.387376
1342          0.581722
       fips        STATE      COUNTY  enslaved_1860  total_pop_1860  \
1023  28055  MISSISSIPPI   ISSAQUENA         7244.0          7831.0
1057  28151  MISSISSIPPI  WASHINGTON        14467.0         15679.0
788   22029    LOUISIANA   CONCORDIA        12542.0         13805.0
817   22107    LOUISIANA      TENSAS        14592.0         16078.0
799   22065    LOUISIANA     MADISON        12477.0         14133.0

      slave_share_1860
1023          0.925042
1057          0.922699
788           0.908511
817           0.907576
799           0.882827

In [ ]:
ready = merged[["fips","enslaved_1860","total_pop_1860","slave_share_1860"]].copy()

ready.to_csv("nhgis_1860_share.csv", index=False),list(ready.columns)

(None, ['fips', 'enslaved_1860', 'total_pop_1860', 'slave_share_1860'])

RUCC

In [ ]:
import pandas as pd

acs = pd.read_csv("/acs_county_2022.csv")

# utf-8encoding(default) didn't work. trying a forgiving encoding for RUCC
rucc = pd.read_csv("/Ruralurbancontinuumcodes2023.csv", encoding="latin1")

print(rucc.head())
print(rucc.info())

   FIPS State     County_Name        Attribute  \
0  1001    AL  Autauga County  Population_2020
1  1001    AL  Autauga County        RUCC_2023
2  1001    AL  Autauga County      Description
3  1003    AL  Baldwin County  Population_2020
4  1003    AL  Baldwin County        RUCC_2023

                                               Value
0                                              58805
1                                                  2
2  Metro - Counties in metro areas of 250,000 to ...
3                                             231767
4                                                  3
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9703 entries, 0 to 9702
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FIPS         9703 non-null   int64
 1   State        9703 non-null   object
 2   County_Name  9703 non-null   object
 3   Attribute    9703 non-null   object
 4   Value        9703 non-null   object
dtypes: int64(1), object(4)
memory usage: 379.2+ KB
None

In [ ]:
rucc_wide = rucc.pivot(index="FIPS", columns="Attribute", values="Value").reset_index()

# reshape result
print("\nRUCC wide format:")
print(rucc_wide.head())
print(rucc_wide.info())

RUCC wide format:
Attribute  FIPS                                        Description  \
0          1001  Metro - Counties in metro areas of 250,000 to ...
1          1003  Metro - Counties in metro areas of fewer than ...
2          1005  Nonmetro - Urban population of 5,000 to 20,000...
3          1007  Metro - Counties in metro areas of 1 million p...
4          1009  Metro - Counties in metro areas of 1 million p...

Attribute Population_2020 RUCC_2023
0                   58805         2
1                  231767         3
2                   25223         6
3                   22293         1
4                   59134         1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3235 entries, 0 to 3234
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   FIPS             3235 non-null   int64
 1   Description      3235 non-null   object
 2   Population_2020  3235 non-null   object
 3   RUCC_2023        3233 non-null   object
dtypes: int64(1), object(3)
memory usage: 101.2+ KB
None

In [ ]:
print("\nACS 2022 file head:")
print(acs.head())

print("\nACS 2022 file columns:")
print(list(acs.columns))

ACS 2022 file head:
   pct_under_18  pct_65plus  pct_hispanic  pct_black  pct_aian  pct_asian  \
0          23.4        15.6           2.2       96.8      72.6       19.6
1          21.2        21.2           3.7       95.2      82.3        8.3
2          20.7        19.8           5.2       95.2      44.6       46.9
3          21.2        16.8           1.0       97.1      74.2       20.7
4          23.0        18.3           4.6       90.3      85.7        1.2

   pct_foreign_born  pct_limited_english  pct_poverty  med_hh_income  ...  \
0               1.9                 96.3          8.3          68315  ...
1               1.0                 95.1          7.0          71039  ...
2               0.4                 92.1         20.8          39712  ...
3               1.1                 97.5         16.3          50669  ...
4               0.5                 92.1         10.2          57440  ...

   pct_broadband_sub  pop_total  gini_index  state_fips  county_fips  geoid  \
0               89.1      58761      0.4541           1            1   1001
1               88.9     233420      0.4648           1            3   1003
2               68.2      24877      0.5098           1            5   1005
3               79.7      22251      0.4553           1            7   1007
4               82.7      59077      0.4475           1            9   1009

                      name  land_sqmi  pop_total.1  pop_density_per_sqmi
0  Autauga County, Alabama    594.455        58761             98.848525
1  Baldwin County, Alabama   1589.863       233420            146.817682
2  Barbour County, Alabama    885.008        24877             28.109350
3     Bibb County, Alabama    622.470        22251             35.746301
4   Blount County, Alabama    644.891        59077             91.607729

[5 rows x 46 columns]

ACS 2022 file columns:
['pct_under_18', 'pct_65plus', 'pct_hispanic', 'pct_black', 'pct_aian', 'pct_asian', 'pct_foreign_born', 'pct_limited_english', 'pct_poverty', 'med_hh_income', 'pct_unemployed', 'pct_in_labor_force', 'pct_less_than_hs', 'pct_ba_plus', 'pct_snap_households', 'pct_uninsured', 'pct_disability', 'pct_female_head_fam_with_children', 'pct_single_parent_hh', 'pct_owner_occupied', 'pct_renter_occupied', 'housing_vacancy_rate', 'pct_overcrowded_gt1pproom', 'pct_lacking_complete_kitchen', 'pct_lacking_complete_plumbing', 'median_gross_rent', 'pct_rent_ge_30pct_income', 'median_home_value', 'pct_zero_vehicles', 'mean_travel_time_minutes', 'pct_commute_drive_alone', 'pct_commute_carpool', 'pct_commute_public_transit', 'pct_commute_walk', 'pct_commute_other', 'pct_work_from_home', 'pct_broadband_sub', 'pop_total', 'gini_index', 'state_fips', 'county_fips', 'geoid', 'name', 'land_sqmi', 'pop_total.1', 'pop_density_per_sqmi']

In [ ]:
# geoid â†’ 5-digit 'fips' string with leading z~e~r~o~
acs["fips"] = acs["geoid"].astype(str).str.zfill(5)

print(acs[["geoid","fips"]].head())

   geoid   fips
0   1001  01001
1   1003  01003
2   1005  01005
3   1007  01007
4   1009  01009